.title {
    text-align: center;
    margin-top: 25px;
    border: 3px solid;
    background-color: aliceblue;
}

#info {
margin: auto;
padding-top: 30px;
}

#selector {
    width: 190px;
    height: 35px;
}

li {
    padding-left: 5px;
    margin-left: 20px;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#edit-box {
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}