.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-height: 1000px;
  max-width:fit-content ;
  padding-top: 50px;
  padding-left: 5px;
  padding-bottom: 10px;
}


body {
  background-color: #282c34;
  color: white;
}

p {
  position: absolute;
  bottom: 10%;
  left: 20%;
  color: white;
  
}

h3 {
  position: absolute;
  bottom: 200%;
  left: 58%;
}

.review {
  position: relative;
  margin-left: 30%;
  margin-bottom: 10%;
}

.images {
  position: relative;
  align-content: flex-start;
  background-color: #282c34;
}

.starts {
  padding-left: 20px;
  background-color: #282c34;
}

.form {
  position: absolute;
  top: 90%;
  left: 40%;  
  width: 50%;
}

div {
  color: white;
}

textarea {
  height: 80px;
  width: 330px;
  bottom: auto;
}

button {
  margin-top: 10px;
}

#review {
  color: green;
}
